<div class="row">
    <div class="col s12 m4 l2">
        <img class="circle responsive-img about-picture" alt="Picture of me" ng-src="/images/arnaud-bouvard.jpg">
    </div>
    <div class="col s12 m8 l10">
        <h2><span class="highlight-word">Software engineer</span> based in London</h2>
        <p>Looking for a technical resource or project facilitator ? Let's talk of your project !</p>

        <h3>Meet me !</h3>
        <p>Working mainly as a PHP backend software developer, I'm also offering full-stack JavaScript skills.<br>
            I believe in the fact that being a software engineer is not only knowing a particular technology, but finding the right answers to business needs.<br>
            If you're looking for someone with a great capacity to adapt, <a ng-href="/#" scroll-to="contact" offset="20" ng-click="setActive('contact')">we shall meet</a> !<br>
        Oh, and I also speak French and English, because those two languages are so cool.</p>
    </div>
</div>
<div class="row facts">
    <div class="col s12 m3 l3">
        <div class="fact-number orange-text"><timer start-time="1283497200000">{{days}} day{{daysS}}</timer></div>
        <div class="dark-text fact-label"><timer start-time="1283497200000">{{hours}}:{{minutes}}:{{seconds}}s</timer> of web development.</div>
    </div>
    <div class="col s12 m3 l3">
        <div class="fact-number">5655+ <i class="title-divider-icon fa fa-coffee"></i></div>
        <div class="dark-text fact-label">Yes, I drink a lot of coffee...</div>
    </div>
    <div class="col s12 m3 l3">
        <div class="fact-number green-text">100 </div>
        <div class="dark-text fact-label">A random number just to be sure you're reading this.</div>
    </div>
    <div class="col s12 m3 l3">
        <div class="fact-number cyan-text">15+ <i class="title-divider-icon fa fa-users"></i></div>
        <div class="dark-text fact-label">Driven developers as a lead dev/manager</div>
    </div>
</div>